.image1 {
  box-sizing: border-box;
  width: 100vw;
  height: 90.5vh;
  background: grey;
}
.box-claim {
  width: 90.6vw;
  height: 17.2vh;
  background: white;
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  transform: translate(0, -50px);
}
#claim {
  color: black;
  font-family: ;
  font-style: normal;
  font-size: 18px;
  padding: 15px;
  text-align: justify;
}
