.title4 {
  line-height: 45px;
  text-align: center;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  size: 24px;
  color: var(--color-title);
  text-transform: uppercase;
}
.person {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.imgcontainer {
  box-sizing: border-box;
  border: solid 8px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
img {
  width: 100%;
  height: 100%;
  display: block;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nombre {
  text-transform: capitalize;
  margin-top: 15px;
  line-height: 45px;
  font-size: 20px;
}
.description {
  margin-right: 15px;
  margin-left: 15px;
  padding: 0px 15px 0px;
  line-height: 24px;
}
.icons {
  margin-top: 15px;
  margin-bottom: 45px;
  color: var(--color-title);
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/*horror!! No me salen los puntos intermedios
  .punto {
    padding-right: 2px;
    padding-left: 2px;
    color: black;
    line-heigth: 50%;
  }*/
/*estilos de tablet*/
@media all and (min-width: 768px) {
  .title4 {
    margin-bottom: 41px;
  }
  .person {
    flex-direction: row;
    justify-content: start;
    margin-bottom: 60px;
    margin-left: 44px;
    margin-right: 44px;
  }
  .person-2,
  .dos {
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  .imgcontainer {
    width: 207px;
    height: 207px;
    margin-left: 31px;
  }
  .info {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 31px;
  }
  .info.dos {
    align-items: end;
    padding-right: 31px;
  }
  .description {
    max-width: 443px;
    text-align: start;
    padding-left: 0%;
    margin: 0;
  }
  .description.dos {
    padding-right: 0%;
    text-align: end;
  }
}
/*estilos de ordenador*/
@media all and (min-width: 1200px) {
  .title4 {
    margin-bottom: 41px;
  }
  .person {
    flex-direction: row;
    margin-bottom: 60px;
    margin-left: 44px;
    margin-right: 44px;
  }
  .person.dos {
    flex-direction: row-reverse;
    align-items: end;
  }
  .imgcontainer {
    width: 278px;
    height: 278px;
    margin-left: 45px;
  }
  .info {
    justify-content: flex-start;
    padding-left: 41px;
  }
  .info.dos {
    justify-content: flex-end;
  }
  .description {
    max-width: 439px;
    text-align: start;
    padding-left: 0%;
  }
  .description.dos {
    padding-right: 0%;
    text-align: end;
  }
}
