<footer>
  <section class="footer">
    <div class="center-column">

      <ul class="footerlist">
        <li><a class="f-team" href="#team">equipo</a></li>
        <li><a class="f-whoweare" href="#whoweare">quiénes somos</a></li>
        <li><a class="f-contact" href="./contact.html">contacto</a></li>
      </ul>
    </div>
    <div class="logo">
      <img class= "logo"  src="./assets/img/logo-adalab.png" alt="logo-adalab">


      <small class="copyfooter">
        &copy; Globetrotter Adalabers 2021</small>

  </section>
</footer>