<footer>
  <section class="footer">
    <div class="copyfooter">
      <small>&copy; Globetrotter Adalabers 2021</small>
    </div>


    <ul class="footerlist">
      <li><a class="f-team" href="#team">equipo</a></li>
      <li><a class="f-whoweare" href="#whoweare">quiénes somos</a></li>
      <li><a class="f-contact" href="../contact.html">contacto</a></li>
    </ul>
    <div class="photologo">
      <img src="../assets/img/logo-adalab.png" class="logo" alt="logo adalab">
    </div>
    </div>
  </section>
</footer>