.footer {
  border-top: solid lightgrey;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 250px;
}

.copyfooter {
  text-align: center;
  margin-top: 30px;
}

.footerlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-transform: uppercase;
  list-style: none;
}
.f-team,
.f-whoweare,
.f-contact {
  color: var(--color-text);
  text-decoration: none;
}

.logo {
  box-sizing: border-box;
  width: 115, 9px;
  height: 45px;
  background-color: #ffffff;
}
