.footer {
  border-top: solid lightgrey;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 250px;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
  }
}

.footerlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-transform: uppercase;
  list-style: none;
  margin-top: 20px;
  @media all and (min-width: 768px) {
    align-items: flex-end;
  }
}
.f-team,
.f-whoweare,
.f-contact {
  color: var(--color-text);
  text-decoration: none;
}

.logo {
  width: 115.9px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  @media all and (min-width: 768px) {
    display: flex;
    order: 1;
    margin-top: 20px;
    margin-left: 0px;
    border-bottom: 15px;
  }
}

.copyfooter {
  text-align: center;
  @media all and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    order: 1;
  }
}
