.header {
  color: white;
  text-transform: uppercase;
  top: 0;
  left: 0%;
  width: 100%;
  z-index: 5;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;

  @media all and (min-width: 768px) {
    background-color: #099d8d;
    font-size: 16px;
    padding-left: 45px;
    padding-right: 45px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.box-name {
  width: 100vw;
  background-color: var(--color-title);
  padding: 15px;
  height: 60px;
  text-align: center;
  @media all and (min-width: 768px) {
    background-color: #099d8d;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    width: 50%;
  }
}
.name {
  font-size: 1rem;
  @media all and (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.nav1 {
  background-color: #14d9c4;
  width: 100vw;
  justify-content: center;
  padding: 8px;
  @media all and (min-width: 768px) {
    background-color: #099d8d;
    display: flex;
    flex-direction: row;
    font-size: 16px;
  }
}
.list {
  font-size: 0.9375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  text-transform: uppercase;
  @media all and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
.list-team,
.list-whoweare,
.list-contact {
  color: white;
  text-decoration: none;
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
  }
}
