<section class="swot">
  <div class ="weaknesses">
    <h3 class="title2">fortalezas</h3>
    <p>
      La resiliencia es quizá nuestra mayor fortaleza. No tememos a los desafíos y confiamos en nuestra capacidad de enfrentarnos a los retos y salir reforzadas de ellos. Además, disfrutamos trabajando en equipos multidisciplinares, como nosotras, porque sabemos que la diversidad de puntos de vista enriquece el resultado. Sentimos pasión por lo que hacemos y somos creativas, lo que se refleja en nuevas ideas, propuestas y soluciones. 
    </p>
  </div>
  <div class="strengths">
    <h3 class="title3">debilidades</h3>
    <p>
      Estamos aprendiendo un “idioma” completamente nuevo para nosotras y dando un giro no solo a nuestra carrera profesional, sino a nuestra forma de pensar. Eso siempre implica cierta carencia de conocimientos técnicos; nada que la constancia, la práctica y la resolución no puedan mejorar. En todo caso, estamos preparadas para hacer frente a los muchos desafíos que tenemos por delante, conscientes de que nunca dejaremos de aprender.
    </p>
  </div>
</section>