<section class="team">
    <h2 id="team" class="title1">equipo</h2>
    <p>
      Somos “trotamundos”, un equipo de mujeres versátiles, comprometidas y muy motivadas. Venimos o hemos vivido en diferentes partes del mundo y hoy nos une un mismo reto: reinventar nuestro futuro y convertirnos en las programadoras front-end que tu empresa necesita. Para conseguirlo, ponemos a tu disposición todo nuestro talento, nuestras ganas y la convicción de que tenemos mucho que aportar. 
    </p>
    <p>¿Quién dijo que la tecnología es cosa de hombres? Nosotras creemos en la diversidad y en el poder de la diferencia. Y, por supuesto, en el trabajo colaborativo en equipo. ¿Conectamos?
    </p>
  </div>
</section>
<div class="triangle"></div>
