<section class="team">
  <div class="center-column">
    <h2 id="team" class="title1">equipo</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam explicabo
      tenetur, similique eos debitis reiciendis dolore? Numquam veritatis,
      officia fugit deleniti eos voluptatibus saepe alias autem nam tempore,
      maiores quaerat? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Quos fugiat, nam accusamus temporibus, quas distinctio nemo veniam
      incidunt sunt perferendis, itaque assumenda porro eligendi? Id error
      reiciendis veniam qui repellat. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Deserunt, ullam, maxime quis soluta amet atque nobis
      eaque, minus eveniet suscipit omnis quisquam aut! Iusto vero consequatur
      temporibus pariatur dolor quas!
    </p>
  </div>
</section>
<div class="triangle"></div>
