<section class="partners">
  <div class="center-column">
    <h2 id="whoweare" class="title4">quiénes somos</h2>
    <div class="person">
      <div class="imgcontainer">
        <img class="img" src="./assets/img/Kate-pfp.jpg" alt="foto de Kate" />
      </div>
      <div class="info">
        <h4 class="nombre">kate quillen</h4>
        <p class="description">
          Como traductora, editora, escritora y profesora, los idiomas forman parte de mi vida diaria, tanto en el ámbito laboral como el personal. Formarme en programación y sus lenguajes es un paso natural en el camino que me lleva a conocer más idiomas y entender como encajan en el mundo.
        </p>
        <div class="icons">
          <div><a href="https://mobile.twitter.com/KRQueue" title="Twitter Kate" alt="Twitter Kate"><i class="fab fa-twitter socialmedia"></i></a></div>
          <div><i class="fab fa-linkedin-in socialmedia"></i></div>
          <div><a href="https://github.com/katequillen" title="Github Kate" alt="Github Kate"><i class="fab fa-github-alt socialmedia"></i></a></div>
          <div><a href="mailto:kate.quillen@gmail.com" title="Email Kate" alt="Email Kate"><i class="fas fa-envelope"></i></a></div>
        </div>
      </div>
    </div>
    <div class="person">
      <div class="imgcontainer">
        <img
          class="img"
          src="./assets/img/lorena-perez.png"
          alt="foto de lorena"
        />
      </div>
      <div class="info dos">
        <h4 class="nombre right">lorena pérez</h4>
        <p class="description dcha">
          ¿Quién dijo que hay edad para reinventarse? Tras muchos años dedicada
          a la comunicación corporativa, he decidido reprogramar mi futuro con
          Adalab como programadora front-end. Apasionada por el contenido de
          calidad, ahora mi mundo se ha llenado de código… aunque siempre con el
          mismo objetivo: brindar la mejor experiencia de usuario, como centro
          de todo.
        </p>
        <div class="icons dos">
          <div><i class="fab fa-twitter socialmedia"></i></div>
          <div><a href="linkedin.com/in/lorena-p%C3%A9rez-mart%C3%ADnez-3646819/" title="LinkedIn Lorena" alt="LinkedIn Lorena"><i class="fab fa-linkedin-in socialmedia"></i></a></div>
          <div><a href="https://github.com/Lorena999" title="Github Lorena" alt="Github Lorena"><i class="fab fa-github-alt socialmedia"></i></a></div>
          <div><a href="mailto:lorena.perez@gmail.com" title="Email Lorena" alt="Email Lorena"><i class="fas fa-envelope"></i></a></div>
        </div>
      </div>
    </div>
    <div class="person">
      <div class="imgcontainer">
        <img
          class="img"
          src="./assets/img/natalia.png"
          alt=" foto de natalia"
        />
      </div>
      <div class="info">
        <h4 class="nombre">natalia martín</h4>
        <p class="description">
          Doctora en Antropología Social especializada en migraciones
          adentrándose en el mundo de la programación. Amante de la música, la
          lectura y el buen vino. Trotamundos desde la consciencia del
          privilegio.
        </p>
        <div class="icons">
          <div><i class="fab fa-twitter socialmedia"></i></div>
          <div><i class="fab fa-linkedin-in socialmedia"></i></div>
          <div><a href="https://github.com/NatMarZab" title="Github Natalia" alt="Github Natalia"><i class="fab fa-github-alt socialmedia"></i></a></div>
          <div><a href="mailto:nmzaballos@gmail.com" title="Email Natalia" alt="Email Natalia"><i class="fas fa-envelope"></i></a></div>
        </div>
      </div>
    </div>
    <div class="person">
      <div class="imgcontainer">
        <img
          class="img"
          src="./assets/img/marina-b.png"
          alt=" foto de marina"
        />
      </div>
      <div class="info dos">
        <h4 class="nombre right">marina benítez sánchez</h4>
        <p class="description dcha">
          Amante de la fotografía de naturaleza y de la historia de cada lugar
          al que viajo, así como de los idiomas, encaminé mi profesión hace años
          a transmitir mi pasión y conocimientos históricos de mi tierra natal,
          Sevilla, y el conjunto de Andalucía, como guía oficial de turismo.
          Ahora con muchas ganas comienzo a aprender un nuevo "idioma",
          diferente a los que ya conocía, ¡deseando convertirme en programadora
          front-end!
        </p>
        <div class="icons dos">
          <div><i class="fab fa-twitter socialmedia"></i></div>
          <div><a href="https://www.linkedin.com/in/marina-ben%C3%ADtez-s%C3%A1nchez-0214a059/" title="LinkedIn Marina" alt="LinkedIn Marina"><i class="fab fa-linkedin-in socialmedia"></i></a></div>
          <div><a href="https://github.com/Marinabsanz" title="Github Marina" alt="Github Marina"><i class="fab fa-github-alt socialmedia"></i></a></div>
          <div><a href="mailto:marinabsanz@gmail.com" title="Email Marina" alt="Email Marina"><i class="fas fa-envelope"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
