<section class="partners">
  <div class="center-column">
    <h2 id="whoweare" class="title4">quiénes somos</h2>
    <div class="person">
      <div class="imgcontainer">
        <img class="img" src="./assets/img/Kate-pfp.jpg" alt="foto de Kate" />
      </div>
      <div class="info">
        <h4 class="nombre">kate quillen</h4>
        <p class="description">
          Como traductora, editora, escritora y profesora, los idiomas forman parte de mi vida diaria, tanto en el ámbito laboral como el personal. Formarme en programación y sus lenguajes en es un paso natural, una ampliación del impulso que me lleva a englobar el mundo en palabras.
        </p>
        <div class="icons">
          <div><i class="fab fa-twitter socialmedia"></i></div>
          <div><i class="fab fa-linkedin-in socialmedia"></i></div>
          <div><i class="fab fa-github-alt socialmedia"></i></div>
          <div><i class="fas fa-envelope"></i></div>
        </div>
      </div>
    </div>
    <div class="person">
      <div class="imgcontainer">
        <img
          class="img"
          src="./assets/img/lorena-perez.png"
          alt="foto de lorena"
        />
      </div>
      <div class="info dos">
        <h4 class="nombre right">lorena pérez</h4>
        <p class="description dcha">
          ¿Quién dijo que hay edad para reinventarse? Tras muchos años dedicada
          a la comunicación corporativa, he decidido reprogramar mi futuro con
          Adalab como programadora front-end. Apasionada por el contenido de
          calidad, ahora mi mundo se ha llenado de código… aunque siempre con el
          mismo objetivo: brindar la mejor experiencia de usuario, como centro
          de todo.
        </p>
        <div class="icons dos">
          <div><i class="fab fa-twitter socialmedia"></i></div>
          <div><i class="fab fa-linkedin-in socialmedia"></i></div>
          <div><i class="fab fa-github-alt socialmedia"></i></div>
          <div><i class="fas fa-envelope"></i></div>
        </div>
      </div>
    </div>
    <div class="person">
      <div class="imgcontainer">
        <img
          class="img"
          src="./assets/img/natalia.png"
          alt=" foto de natalia"
        />
      </div>
      <div class="info">
        <h4 class="nombre">natalia martín</h4>
        <p class="description">
          Doctora en Antropología Social especializada en migraciones
          adentrándose en el mundo de la programación. Amante de la música, la
          lectura y el buen vino. Trotamundos desde la consciencia del
          privilegio.
        </p>
        <div class="icons">
          <div><i class="fab fa-twitter socialmedia"></i></div>
          <div><i class="fab fa-linkedin-in socialmedia"></i></div>
          <div><i class="fab fa-github-alt socialmedia"></i></div>
          <div><i class="fas fa-envelope"></i></div>
        </div>
      </div>
    </div>
    <div class="person">
      <div class="imgcontainer">
        <img
          class="img"
          src="./assets/img/marina-b.png"
          alt=" foto de marina"
        />
      </div>
      <div class="info dos">
        <h4 class="nombre right">marina benítez sánchez</h4>
        <p class="description dcha">
          Amante de la fotografía de naturaleza y de la historia de cada lugar
          al que viajo, así como de los idiomas, encaminé mi profesión hace años
          a transmitir mi pasión y conocimientos históricos de mi tierra natal,
          Sevilla, y el conjunto de Andalucía, como guía oficial de turismo.
          Ahora con muchas ganas comienzo a aprender un nuevo "idioma",
          diferente a los que ya conocía, ¡deseando convertirme en programadora
          front-end!
        </p>
        <div class="icons dos">
          <div><i class="fab fa-twitter socialmedia"></i></div>
          <div><i class="fab fa-linkedin-in socialmedia"></i></div>
          <div><i class="fab fa-github-alt socialmedia"></i></div>
          <div><i class="fas fa-envelope"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>
