<section class="partners">
  <div class="center-column">
    <h2 id="whoweare" class="title4">quiénes somos</h2>
    <div class="person">
      <div class="imgcontainer">
        <img class="img" src="./assets/img/Kate pfp.jpg" alt="foto de Kate" />
      </div>
      <div class="info">
        <h4 class="nombre">kate quillen</h4>
        <p class="description">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. E"
        </p>
        <div class="icons">
          <div><i class="fab fa-twitter socialmedia"></i></div>
          <div><i class="fab fa-linkedin-in socialmedia"></i></div>
          <div><i class="fab fa-github-alt socialmedia"></i></div>
          <div><i class="fas fa-envelope"></i></div>
        </div>
      </div>
    </div>
    <div class="person">
      <div class="imgcontainer">
        <img
          class="img"
          src="./assets/img/Lorena Pérez.jpeg"
          alt="foto de lorena"
        />
      </div>
      <div class="info dos">
        <h4 class="nombre right">lorena pérez</h4>
        <p class="description dos">
          ¿Quién dijo que hay edad para reinventarse? Tras muchos años dedicada
          a la comunicación corporativa, he decidido reprogramar mi futuro con
          Adalab como programadora front-end. Apasionada por el contenido de
          calidad, ahora mi mundo se ha llenado de código… aunque siempre con el
          mismo objetivo: brindar la mejor experiencia de usuario, como centro
          de todo.
        </p>
        <div class="icons dos">
          <div><i class="fab fa-twitter socialmedia"></i></div>
          <div><i class="fab fa-linkedin-in socialmedia"></i></div>
          <div><i class="fab fa-github-alt socialmedia"></i></div>
          <div><i class="fas fa-envelope"></i></div>
        </div>
      </div>
    </div>
    <div class="person">
      <div class="imgcontainer">
        <img
          class="img"
          src="./assets/img/IMG-5277.jpg"
          alt=" foto de natalia"
        />
      </div>
      <div class="info">
        <h4 class="nombre">natalia martín</h4>
        <p class="description">
          Doctora en Antropología Social especializada en migraciones
          adentrándose en el mundo de la programación. Amante de la música, la
          lectura y el buen vino. Trotamundos desde la consciencia del
          privilegio.
        </p>
        <div class="icons">
          <div><i class="fab fa-twitter socialmedia"></i></div>
          <div><i class="fab fa-linkedin-in socialmedia"></i></div>
          <div><i class="fab fa-github-alt socialmedia"></i></div>
          <div><i class="fas fa-envelope"></i></div>
        </div>
      </div>
    </div>
    <div class="person">
      <div class="imgcontainer">
        <img class="img" src="./assets/img/marina.jpg" alt=" foto de marina" />
      </div>
      <div class="info dos">
        <h4 class="nombre right">marina benítez sánchez</h4>
        <p class="description dos">
          Amante de la fotografía de naturaleza y de la historia de cada lugar
          al que viajo, así como de los idiomas, encaminé mi profesión hace años
          a transmitir mi pasión y conocimientos históricos de mi tierra natal,
          Sevilla, y el conjunto de Andalucía, como guía oficial de turismo.
          Ahora con muchas ganas comienzo a aprender un nuevo "idioma",
          diferente a los que ya conocía, ¡deseando convertirme en programadora
          front-end!
        </p>
        <div class="icons dos">
          <div><i class="fab fa-twitter socialmedia"></i></div>
          <div><i class="fab fa-linkedin-in socialmedia"></i></div>
          <div><i class="fab fa-github-alt socialmedia"></i></div>
          <div><i class="fas fa-envelope"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>
